streamlit
pyngrok
faiss-cpu
gpt4all
groq
huggingface-hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-text-splitters
langserve
langsmith
sentence-transformers
tokenizers
transformers
uvicorn
unstructured
